
@keyframes falldown {
    0% {
      opacity: 0;
      max-width:0%;
      max-height:0%;
      border-radius: 0px;
      padding: 0px;
    }
    50%{
      opacity: 1;
      border-radius: 25px;
      padding: 20px 40px;
      max-height:100%;
    }
    100% {
      max-width:100%;
      max-height:100%;
      border-radius: 25px;
      padding: 20px 40px;
    }
}

@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
    background-color: #d0c090;
    text-align: center;
    font-family: Arial;
    color: #503000;
}

table {
  border-radius: 15px;
  padding: 10px 0px;
  margin: auto;
  background-color: #a08050;
  border-spacing: 0px;
}

td,th {
  padding: 5px 10px 5px 10px;
  text-align: left;
}

tr:nth-child(odd) {background: #bf9f6f}

tr:nth-child(even) {background: #b09060}

tr.entry, tr:nth-child(1) {background: inherit}

div.fader{
  animation-delay: 0.25s;
  animation-name: appear;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

div.wrapper{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  border: 2px solid #503000;
  animation-name: falldown;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  background-color: #d0b070;
  white-space: nowrap;
}

::-webkit-input-placeholder{
  color: #b08020;
}

input[type=text], input[type=submit], select {
    width: 100%;
    border: 2px solid #704000;
    border-radius: 6px;
    padding: 3px;
    margin-top: 10px;
    outline: none;
    background-color: #e0c090;
    color: #503000;
}

input[type=text]:focus, select:focus, input[type=submit]:hover, input[type=submit]:focus{
    background-color: #f0d0a0;
}

input[type=submit]:hover{
  cursor: pointer;
}

a.textDelete, a.textEdit{
  cursor: pointer;
}

a.textDelete:hover{
  color : red;
}

a.textEdit:hover{
  color : #ff9000;
}
